kubernetes==8.0.1
PyJWT==1.7.1
adal==1.2.1
cachetools==3.1.0
certifi==2018.11.29
cffi==1.12.2
cryptography==2.6
google-auth==1.6.3
idna==2.8
oauthlib==3.0.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
python-dateutil==2.8.0
pyyaml==3.13
requests==2.21.0
requests-oauthlib==1.2.0
setuptools==40.8.0
six==1.12.0
urllib3==1.24.1
websocket-client==0.55.0
